.users-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
  padding: 60px;
  gap: 60px;
}
.user-card{
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2EB;
  border: none;
  border-radius: 12px;
}
.user-card h2{
  color: blue;
}